<span class="heading"><a href="{{profileUrl}}">{{commentAuthorName}}</a>
has replied to your comment on
"<a href="{{postCommentUrl}}" class="action-link">{{postTitle}}</a>"</span><br/><br/>

{{{commentExcerpt}}} <a href="{{postCommentUrl}}" class="action-link">Read more…</a><br/><br/>

<a href="{{unsubscribeLink}}">Unsubscribe from all notifications</a><br/><br/>
