<span class="heading"><a href="{{profileUrl}}">{{commentAuthorName}}</a>
left a new comment on your post 
"<a href="{{postCommentUrl}}" class="action-link">{{postTitle}}</a>"</span><br/><br/>

{{{commentExcerpt}}} <a href="{{postCommentUrl}}" class="action-link">Read more…</a><br/><br/>