<span class="heading"><a href="{{profileUrl}}">{{commentAuthorName}}</a>
has replied to your comment on
<a href="{{postUrl}}" class="action-link">{{postTitle}}</a>:
</span>
<br/><br/>

<div class="comment-body">
{{{body}}}
</div>
<br>

<a href="{{postCommentUrl}}" class="action-link">Discuss</a><br/><br/>