<span class="heading">
<a href="{{profileUrl}}">{{invitedBy}}</a>
invited you to join {{communityName}}
</span><br><br>

{{#if newUser}}
<a href="{{actionLink}}">Join {{communityName}}</a>
{{else}}
<a href="{{actionLink}}">Sign in to {{communityName}}</a>
{{/if}}
<br><br>
