<span class="heading"><a href="{{profileUrl}}">{{comment.author}}</a>
has replied to your comment on
<a href="{{postLink}}" class="action-link">{{post.title}}</a>:
</span>
<br/><br/>

<div class="comment-body">
{{{body}}}
</div>
<br>

<a href="{{postCommentUrl}}" class="action-link">Discuss</a><br/><br/>